<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <head><link rel="stylesheet" href="css/styles.css"></head>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created for learning purposes only</p>
            <img class="portrait" src="img/robot.png" alt="Me">
        </div>
        {{>footer}}
    </body>
</html>